/* ===================GLOBAL=================== */

* {
  font-family: 'Quicksand', sans-serif;
  transition: all 0.4s;
}

body {
  background: #444;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

#sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1%;
  background: #181818;
  color: #c4e3ff;
  min-width: 10%;
  max-width: 10%;
  margin: 0;
}

/* ===================EFFECTS=================== */


/* ===================GLOBAL(MOBILE)=================== */

/* ===================GLOBAL(LARGE)=================== */
